# Dev - prediction

Script:

In [1]:
import pandas as pd

In [2]:
ds = pd.DataFrame(columns=['C', 'A', 'B'])

In [6]:
se = pd.Series(index=['C', 'A', 'B'])

In [16]:
se["C"] = 341

In [17]:
ds = ds.append(se, ignore_index=True)
ds

       C   A   B
0  343.0 NaN NaN
1  343.0 NaN NaN
2  343.0 NaN NaN
3  342.0 NaN NaN
4  341.0 NaN NaN

In [18]:
ds.sort_values(by="C", ascending=True)

       C   A   B
4  341.0 NaN NaN
3  342.0 NaN NaN
0  343.0 NaN NaN
1  343.0 NaN NaN
2  343.0 NaN NaN